global_defs {
    router_id HA_CLUSTER_{{ inventory_hostname }}
    enable_script_security
    script_user root
}

vrrp_script check_nginx {
    script "/usr/local/bin/check-nginx.sh"
    interval 2
    weight -20
    fall 3
    rise 2
}

vrrp_instance VI_1 {
    state {{ keepalived_state }}
    interface eth0
    virtual_router_id 51
    priority {{ keepalived_priority }}
    advert_int 1
    
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass | default('hacluster123') }}
    }
    
    virtual_ipaddress {
        {{ floating_ip }}/32
    }
    
    track_script {
        check_nginx
    }
    
    notify_master "/usr/local/bin/notify-master.sh"
    notify_backup "/usr/local/bin/notify-backup.sh"
    notify_fault "/usr/local/bin/notify-fault.sh"
}
